.root {
    --blue: lightblue;
    --orange: orange;
    --pink: pink;
    --purpleblue: rgb(117, 58, 255);
    --yellow: lightyellow;
    --palegreen: palegreen;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul, li {
    padding: 0;
    list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 30px;
}

header {
    grid-column: span 3;
    text-align: center;
    border-bottom: 1px solid lightblue;
}
nav {
    padding: 30px;
    border-right: 1px solid orange;
}
nav li {
    text-decoration: underline;
}
article{
    padding: 30px;
}
article {
    font-size: 3.5rem;
    max-width: 880px;
}
article img{
    width: 100%;
}
article p {
    margin-top: 30px;
    line-height: 2em;
    color:pink;
}
aside {
    padding: 30px;
    border-left: 1px solid pink;
}
footer {
    grid-column: span 3;
    text-align: center;
    border-top: 1px solid palegreen;
    padding: 30px; 
}

/*responsive*/
@media screen and (max-width: 1200px) {
    nav {
        grid-column: span 3;
        border-right: 0;
        border-bottom: 1px solid lightblue;
    }
    nav li {
        display: inline-block;
        margin-right: 10px;
    }
    article {
        grid-column: span 2;
    }
    aside {
        padding: 16px;
    }
}

@media screen and (max-width: 980px) {
    nav, article, aside {
        grid-column: span 3;
    }
    aside {
        border-left: 0;
        border-top: 1px solid lightblue;
    }
    article h2 {
        font-size: 2.5 2m; 
    }
}